.App {
  text-align: center;
}

.App-header {
  background-color: #406498;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* .link-container {
  display: flex;
} */

.link-box {
  display: inline-block;
  margin: 10px;
  padding: 10px;
  background-color: #f2f2f2;
  border: 1px solid #ddd;
}